<!DOCTYPE html>
<html lang="en" xmls:th="https://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title></title>
</head>
<body>
<div class="container-fluid vh-100">
    <div class="row">
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <div class="d-flex justify-content-between">
                <p class="text-white" th:text="${user.email}">VALUE</p>
                <p style="color: white;"> &nbsp; with roles: &nbsp;</p>
                <p class="text-white" th:text="${user.roles}">VALUE</p>
            </div>
            <div class="ml-auto">
                <a class="navbar-brand" href="/logout">Logout</a>
            </div>
        </nav>
        <div class="col-xl-2">
            <br>
            <br>
            <br>
            <nav class="navbar sticky-top navbar-dark bg-primary">
                <h3><a class="navbar-brand" href="/admin">Admin</a></h3>
            </nav>
            <h3><a class="navbar-brand" th:href="@{/admin/show_user(userId=${user.id})}">&nbsp;&nbsp;&nbsp;User</a>
            </h3>
        </div>
        <div class="col-xl-10" style="height: 100vh; background-color: #D3D3D3;">
            <br>
            <br>
            <div>
                <br>
                <h3>Admin panel</h3>
                <button style="background-color: #D3D3D3; float: left; border: 1px solid #D3D3D3; padding: 5px; width: 120px; height: 60px;">
                    <a class="navbar-brand" href="/admin">Users table</a></button>
                <button style="background-color: white; border: 1px solid white; padding: 5px; width: 100px; height: 60px;">
                    <a href="/admin/add">New User</a></button>
                <br>
                <h4><p> Add new user </p></h4>
                <form th:action="@{/admin}" method="post">
                    <div class="text-center">
                        <h6>First name</h6>
                        <input type="text" name="username">
                    </div>
                    <div class="text-center">
                        <h6>Last name</h6>
                        <input type="text" name="lastName">
                    </div>
                    <div class="text-center">
                        <h6>Age</h6>
                        <input type="number" step="1" placeholder="step = 1" name="age">
                    </div>
                    <div class="text-center">
                        <h6>Email</h6>
                        <input type="text" name="email">
                    </div>
                    <div class="text-center">
                        <h6>Password</h6>
                        <input type="text" name="password">
                    </div>
                    <div class="text-center">
                        <h6>Role</h6>
                        <label>
                            <select size="2" multiple="multiple" name="roles" id="roles">
                                <option value="ROLE_ADMIN">ADMIN</option>
                                <option selected value="ROLE_USER">USER</option>
                            </select>
                        </label>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Add new user" style="background-color: green; color: white;">
                    </div>
                </form>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>